html, body, #map-canvas { height: 500px; margin: 0; padding: 0;}
.comment {
    list-style: none;
    font-style: italic;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #CCD;
}
.comment span {
    color: blue;
    font-style: normal;
}

.neighborhood_comments button {
    float: right;
}